.thanks__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
  background: #82756A;
}

.thanks__heading {
  margin-bottom: 40px;
  text-align: center;
}
.form__button{
  margin-top: 30px;
  text-align: center;
  background-color:#82756A
}
